# Ignore .env file
.env

# Ignore Docker-related files
# .dockerignore # Not yet needed for this project
Dockerfile
# docker-compose.yml # Needed in the future

# Ignore node_modules directory
node_modules/
